/*## Default ##*/
nav, header, footer{
    display: block;
}

body{
    line-height: 1;
    margin: 0;
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%};
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

label{
    font-size: 35px;
    font-weight: 600;
}

p{
    font-size: 28px;
    line-height: 1.2;
    }
}

article p {
    font-size: 35px;
    padding: 20px;
    
}

*{
    box-sizing: border-box;
}
/*## Nav bar ##*/

nav{
    width: 100%;
    margin: 0;
}


nav ul{
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.TopNav li{
    list-style: none;
    float: left;
}

ul.TopNav li.TopNavRight{
    float: right;    
}

ul.TopNav li a{
    display: block;
    text-decoration: none;
    color: #666;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;    
}

ul.TopNav li a:hover{
    background-color: #0080ff;
    color: #fff;
}

ul.TopNav li.DropMenu{
    display: none;   
}

.col-7.colLorem {
    padding-left: 10%;    
}




/*## Custom styles ##*/
#gradient{
    background: #076DFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#076DFF, #65a5ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#076DFF, #65a5ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#076DFF, #65a5ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#076DFF, #65a5ff); /* Standard syntax */    
}

div.box{
    text-align: center;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px 0 rgba(0,0,0,.1);
    border-radius: 7px; 
    margin: 24px;
    padding: 36px 24px 40px 24px;
}

div.iosicon img{
    display: block;
    margin: auto;
    box-shadow: -2px/* horizontal*/ -2px /* vertical*/ 20px /* blur*/ 2px/* spread*/ rgba(0,/*shadow*/0/*background*/, 0/*boxcolor*/, 0.15/*opacity*/), 2px 2px 17px 2px rgba(0,0,0,1); 
    width: 80%;
    height: 80%;
}

button{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #0069ff;
    padding: 15px 60px;
    display: block;
    margin: 5px;
    border-radius: 7px;
}

button.learnMore{
    display: block;
    margin: auto;
}

div.icon{
    width: 100%;
}

.leftSide-col{
    margin-left: 30%;    
}

.rightside-col{
    margin left: 15%;
}

h1.large{
    color: white;
    font-size: 66px;
    margin: 0;
    line-height: 60px;
    
}

h1.section2header{
    font-size: 65px;
    text-align: center;
}

form h2{
    color: white;
    
}

input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

footer.footsy{
    background-color: #666;
    padding-left: 10%;
   
}

footer.footsy h1{
    color: #fff;
    font-size: 35px;
}
footer.footsy ul{
    list-style: none;
    text-align: left;    
    padding-left: 0;  
}
footer.footsy ul li{
    color: #fff;
    line-height: 1.5;
    font-size: 22px;
}

/*## Mobile Nav ##*/

@media screen and (max-width: 680px) {
    ul.TopNav li:not(:nth-child(1)) {
        display:none;
    } 
    
    ul.TopNav li.DropMenu {
        display: block;
        float: right;
    }
    
    ul.TopNav.responsive li.DropMenu {
        position: absolute; 
        top: 0;
        right: 0;        
    }
    
    ul.TopNav.responsive {
        position: relative;
    }
    
    ul.TopNav.responsive li{
        display: inline;
        float: none;
    }
    
    ul.TopNav.responsive li a{
        display: block;
        text-align: left;
    }   
    
    h1.section2header{
        font-size: 50px;        
    }
    
    article p{
        font-size: 25px;
    }
    
    .col-6, 
    .col-4, 
    .col-7, 
    .col-5{
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    
    div.box{
        padding: 5px;
        display: block;
    }
    
    div.iosicon{
        margin: 10px;
    }

    div.iosicon img{
        display: block;
        width: 100%;
    }

    
    div.leftSide-col, div.rightside-col{
        margin: 15px;                
    }
    
    div.mobileStack{
        width: 50%;
        display: block;        
    }
    
    input[type="text"]{
        width: 350px;
    }
    .videocontainer iframe{
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
    h1.large{
        font-size: 50px;
    }
}